<table class="table  table-bordered  table-hover table-items">
    <thead class="table-success">
        <tr>
            <th>Item name</th>
            <th>Item type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
  <tr *ngFor="let item of itemService.itemList | paginate: { itemsPerPage: 4, currentPage: p}">
     
    <td>{{item.Name}} </td>
    <td>{{item.Type}}</td>
    <td>
      <a class="btn" (click)="showForEdit(item)">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="btn text-danger" (click)="onDelete(item.Id)">
        <i class="fa fa-trash-o"></i>
      </a>
    </td>
  
  </tr>
</tbody>
</table>
<div class="row pagination">
  <div class="medium-8 medium-offset-2 columns">
    <h2 class="subheader"></h2>      
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>


