<div style="text-align:center">
  <h2 >Statistic</h2>
</div>
<table class="table  table-bordered  table-hover table-statistic">
  <thead class="table-success">
      <tr>
          <th>Item type</th>
          <th>Count</th>          
      </tr>
  </thead>
  <tbody>
<tr *ngFor="let item of itemService.itemStatistic | paginate: { itemsPerPage: 4, currentPage: p}">
   
  <td>{{item.Type}} </td>
  <td>{{item.Count}}</td>
</tr>
</tbody>
</table>
<div class="row pagination">
<div class="medium-8 medium-offset-2 columns">
  <h2 class="subheader"></h2>    
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>