<form class="it-form center-block" #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
  <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="itemService.selectedItem.Id">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control" name="Name" #Name="ngModel" [(ngModel)]="itemService.selectedItem.Name"
        placeholder="Name" required>
      <div class="validation-error" *ngIf="Name.invalid && Name.touched">This Field is Required.</div>
    </div>
    <div class="form-group col-md-6">
      <input class="form-control" name="Type" #Type="ngModel" [(ngModel)]="itemService.selectedItem.Type" placeholder="Type"
        required>
      <div class="validation-error" *ngIf="Type.invalid && Type.touched">This Field is Required.</div>
    </div>
  </div>
  
  
      <button [disabled]="!itemForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
        <i class="fa fa-floppy-o"></i> Submit</button>
   
  
 
</form>
